doctype html(lang='fi')
head
	title Telenia.fi - Myynti
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width,initial-scale=1')
	link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")

body
	.container-fluid
		.row: .col-xs-12
			h2 Myynti kampanjassa: #{kampanjanNimi} 
				br
				small= "Asiakas: "+ asiakas
				br
				small= "Myyjä: "+user
			.well
				h3 Tiedot
				each pl in data.payload
					p
						span= pl.name+ " "
						br
						strong= pl.value